# Compiled output
/dist
/tmp
/out-tsc

# Node
**/node_modules
npm-debug.log

# Visual Studio Code
.vscode/*
.history/*

# Miscellaneous
frontend/.angular/cache
backend/.env

# System files
.DS_Store
Thumbs.db
