<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="dropdown">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #dropdown>
    <button mat-menu-item routerLink="items">Items</button>
    <button mat-menu-item routerLink="transaction">Transactions</button>
    <button mat-menu-item routerLink="review">Reviews</button>
  </mat-menu>
  <span>Immersive</span>
  <mat-icon>shopping_bag</mat-icon>
  <button mat-icon-button class="user-button" [matMenuTriggerFor]="userMenu">
    <mat-icon class="user-icon">account_circle</mat-icon>
  </button>
  <mat-menu #userMenu>
    <button mat-menu-item *ngIf="loggedIn" (click)="logout()">Log out</button>
    <button mat-menu-item *ngIf="!loggedIn" routerLink="login">Sign in</button>
  </mat-menu>
</mat-toolbar>